html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-size: small;
}

.screen {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  visibility: hidden;
}

.screen.error {
  color: red;
}
    
.loading-screen {
  background: #eee;
  color: #333;
  font-size: 150%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.2s, opacity 0.2s linear;
  z-index: 99;
}
.loading-screen.loading {
  visibility: visible;
  opacity: 1;
}
.loading-screen .loading-dot:before {
  content: '-';
}
.loading-screen .loading-dot {
  color: #666;
  font-size: 200%;
  transition: all 0.3s;
}
.loading-screen .loading-dot.active {
  color: #aaa;
  font-size: 100%;
}
